extends ../layout

block content
  h1 Uredi projekt
  form(method="post", action=`/projects/${project._id}?_method=PUT`)
    include ./_form_fields.pug
    button.btn.btn-primary(type="submit") Spremi
    a.btn.btn-secondary(href=`/projects/${project._id}`) Odustani
